body {
    background-color: yellow;
}

.circle {
    width: 100px;
	height: 100px;
	background: grey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.triangle {
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid blue;
}

.square {
    width: 100px;
	height: 100px;
	background: red;
}

.rectangle {
    width: 100px;
	height: 50px;
	background: purple;
}

.parallelogram {
    width: 150px;
	height: 100px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: green;
}

.trapezium {
    border-bottom: 100px solid white;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
}

.star {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: relative;
  margin: 50px 0;
  border: 100px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 70px solid black;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: red;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transform: rotateZ(35deg)   ;
  transform: rotateZ(35deg)   ;
}

.star::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: -45px;
  left: -65px;
  border: 30px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 80px solid red;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
  -webkit-transform: rotateZ(-35deg)   ;
  transform: rotateZ(-35deg)   ;
}

.star::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 3px;
  left: -105px;
  border: 100px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 70px solid white;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: red;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
  -webkit-transform: rotateZ(-70deg)   ;
  transform: rotateZ(-70deg)   ;
}
